<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue-todolists-局部组件的使用</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="todoMsg">
        <button @click="handletodoMsg">提交信息</button>
        <ul>
            <!-- <li v-for='item in lists'>{{ item }}</li> -->
            <todo-item v-bind:content="item" 
                       v-for='item in list'></todo-item>
        </ul>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.22/vue.min.js"></script>
    <script>
        var TodoItem = {
            props: ["content"],
            template: "<li>{{ content }}</li>"
        }

        var app = new Vue({
            el: '#app',
            components: {
                TodoItem: TodoItem
            },
            data:{
                todoMsg:'',
                content: 'hello world',
                lists:['吃饭饭','睡觉觉','打豆豆'],
                list: []
            },
            methods: {
                handletodoMsg:function(){
                    app.$data.list.push(this.todoMsg);
                    this.todoMsg = '';
                }
            },
        });
    </script>
</body>
</html>